/* navbar */
#top-nav {
    color: white;
    background-color: #131212;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .nav-items {
      font-size: 1.5em;
      display: flex;
      align-items: center;
      gap: 30px;
  
      a {
        text-decoration: none;
        color: whitesmoke;
        transition: all 0.3s ease;
      }
  
      h4 {
        transition: all 0.3s ease;
      }
  
      h4:hover {
        transition: all 0.3s ease;
        color: rgba(214, 84, 189, 0.75);
      }
    }
  }