/* -------- SINGLE PROJECTS PAGE --------- */
.single-project {
    margin: 20px;
    
      .back-btn {
        background-color: #131212;
        color: whitesmoke;
        font-weight: bold;
        padding: 10px;
        border-radius: 9px;
        border: 3px solid #131212;
        transition: all 0.3s ease;
      }
      .back-btn:hover {
        cursor: pointer;
        transition: all 0.3s ease;
        box-shadow: 1px 4px 13px 3px rgba(214, 84, 189, 0.75);
        -webkit-box-shadow: 1px 4px 13px 3px rgba(214, 84, 189, 0.75);
        -moz-box-shadow: 1px 4px 13px 3px rgba(214, 84, 189, 0.75);
      }
    
  
    .single-project-details {
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 40px;
  
      .single-project-left {
        display: flex;
        flex-direction: column;
        gap: 20px;
  
        h1 {
          font-size: 3em;
        }
  
        h3 {
          font-size: 2em;
        }
  
        .skills-cont {
          width: 100%;
          letter-spacing: 1px;
        }
  
        a {
          width: 60%;
          font-family: "Quattrocento", sans-serif;
          color: whitesmoke;
          transition: all 0.3s ease;
        }
        a:hover {
          color: rgba(214, 84, 189, 0.75);
          transition: all 0.3s ease;
        }
      }
  
      .single-project-right {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
  
        .project-image {
          border: 2px solid white;
          width: 100%;
          border-radius: 9px;
        }
      }
    }
  }