/* ---------- BASE WEBSITE STYLING FILE ---------- */

/* Imports */
/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Crushed&family=Quattrocento:wght@400;700&family=Tenor+Sans&display=swap');

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Default Body Styling */
body {
  background-color: #1f1f1f;

  h1, h2, h3, h4 {
  font-family: "Crushed", sans-serif;
  color: whitesmoke;
  }

  p {
    font-family: "Quattrocento", serif;
    color: whitesmoke;
    letter-spacing: 0.5px;
    line-height: 1.2;
  }
}

/* Horizontal Line */
hr {
  background-color: white;
  height: 2px;
  border-radius: 2px;
}

/* Default Project Card Styling */
.project-card {
  background-color: #131212;
  border: 3px solid #131212;
  width: 400px;
  height: 450px;
  border-radius: 9px;
  transition: all 0.3s ease;
  cursor: pointer;

  .project-image {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    width: 100%;
    height: 60%;
    object-fit: cover;
    transition: all 0.3s ease;
  }

  .project-card-details {
    padding: 10px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.project-card:hover {
  scale: 1.1;
  transition: all 0.3s ease;
  box-shadow: 1px 4px 13px 3px rgba(214, 84, 189, 0.75);
  -webkit-box-shadow: 1px 4px 13px 3px rgba(214, 84, 189, 0.75);
  -moz-box-shadow: 1px 4px 13px 3px rgba(214, 84, 189, 0.75);
}

@media screen and (max-width: 600px) {
  .project-card {
    width: 100%;
    height: 100%;
  }
  .project-card:hover {
    scale: 1.0;
  }
}

@media screen and (max-width: 400px) {
  .project-card {
    width: 100%;
    height: 100%;
  }
  .project-card:hover {
    scale: 1.0;
  }
}